<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>This is an auto generated message from the site's contact form, from
        <%= "#{ @name}, #{ @email}." %></p>
        <p><%= @body %></p>
    </body>
</html>